<h1 class="center" >Listing all articles</h1>
<!-- (new_article_path found in rails routes, as new_article next to #new route) -->
    <% @articles.each do |article| %>

    <div class="container" >
        <div class="row">
            <div class="mx-auto col-sm-8" >

                <!-- CARD -->
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">
                            <%= link_to  article.title, article_path(article) %>
                        </h5>
                        <p class="card-text">
                            <%= truncate(article.description, length: 100) %>
                            <small> 
                                Created by: <%= article.user.username if article.user %>,
                                <%= time_ago_in_words(article.created_at) %> ago,
                                last updated: <%= time_ago_in_words(article.updated_at) %> ago
                            </small>

                        </p>


                        <div class="article-actions">
                            <a href="#" class="card-link"><%= link_to "Edit an article", 
                                                edit_article_path(article), 
                                                class: "btn btn-sm btn-primary" 
                                                %>
                            </a>
                        
                            <a href="#" class="card-link"><%= link_to "Delete this article", 
                                                article_path(article), 
                                                method: :delete, 
                                                data: {confirm: "Are you sure you want to delete this article?"},
                                                class: "btn btn-sm btn-danger" 
                                                %>
                            </a>
                        
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    <% end %>
</table>