<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
    <title>MyRailsApp</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <div class="container" >
    <%= yield %>      
    </div>
    <%= render "layouts/footer" %>
    <!-- display DEBUGGER params, if Rails app in development -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
